body {
    font: normal 14pt courier;
    color: antiquewhite;
    background-color: rgb(28, 34, 70); 
    display: flex;   
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 30px;
}

button {
    padding: 30px 70px;
    font: bold 15pt courier;
    color: rgb(24, 24, 64);
    border-radius: 5px;
}

div {
    padding: 20px;
}

#estilo {
    font: bold 20pt courier;
}