body {
    font: normal 14pt courier;
    color: #ECECEC;
    background-color: #2C2C54; 
    display: flex;   
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

button {
    padding: 20px 80px;
    font: bold 15pt courier;
    color: #2C2C54;
    border-radius: 5px;
}

div {
    font-weight: bold;
    display: flex;   
    flex-direction: column;    
    align-items: center;
    padding: 30px;
}

#apro {
    font-weight: bold;
    background-color: rgb(102, 170, 0);
}

#recu {
    font-weight: bold;
    color: rgb(214, 179, 25);
}

#repro {
    font-weight: bold;    
    background-color: rgb(255, 39, 39);
}